<%= form_for(@birthday) do |f| %>
  <% if @birthday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@birthday.errors.count, "error") %> prohibited this birthday from being saved:</h2>

      <ul>
      <% @birthday.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.label :friend %>
	<%= f.select(:friend, [@friends.map{|x|[ x.name,x.fb_id]}] ) %>
    <%= f.label :message %>
    <%= f.text_area :message, :placeholder => "Happy Birthday enjoy!", :rows => "3"%>
    <%= f.label :linky%>
    <%= f.text_field :linky%>
  </div>
  <div class="actions">
    <%= f.submit "Message", :class => "btn btn-info"  %>
  </div>
<% end %>
